/SSDPClient/nbproject/private/
/SSDPServer/nbproject/private/
/SSDPClient/build/
/SSDPClient/dist/
/SSDPServer/build/
/SSDPServer/dist/
/NFSClient/nbproject/private/
/NFSServer/nbproject/private/
/NFSClient/dist/
/NFSClient/build/
/NFSServer/build/
/NFSServer/dist/
/MGCPServer/nbproject/private/
/MGCPClient/nbproject/private/
/MGCPClient/dist/
/MGCPClient/build/
/MGCPServer/build/
/MGCPServer/dist/
/CLDAPClient/nbproject/private/
/CLDAPServer/nbproject/private/
/CLDAPServer/build/
/CLDAPServer/dist/
/CLDAPClient/build/
/CLDAPClient/dist/
/L2TPClient/nbproject/private/
/L2TPServer/nbproject/private/
/L2TPClient/dist/
/L2TPClient/build/
/L2TPServer/build/
/L2TPServer/dist/