/SSDPClient/nbproject/private/
/SSDPServer/nbproject/private/
/SSDPClient/build/
/SSDPClient/dist/
/SSDPServer/build/
/SSDPServer/dist/
/NFSClient/nbproject/private/
/NFSServer/nbproject/private/
/NFSClient/dist/
/NFSClient/build/
/NFSServer/build/
/NFSServer/dist/